@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: auto;
  overflow-y: scroll;
}


section {

  justify-content: center;
  align-items: left;
  overflow: auto;
}




body {

  display: flex;
  flex-direction: column;
  background-image: url('../img/backusu.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-color: green;
  background-size:43%;
  font-family: 'Maven Pro', sans-serif;

 
  
  
}



section .imgcentro {
  
  margin-top: 5%;
  margin-left: 18%;
  
}



form {
  min-width: 1vh;
  max-width: 75vh;
  margin: 20px 0;
  background-color: white;
  padding: 30px 25px;
  border-radius: 5px;
  margin-left: 7%;
 
}

a {
    font-size: smaller;
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(61, 226, 61);
    text-decoration: wavy;
}


form .input-block {
  margin-bottom: 20px;
  
  
}


form .input-block label {
  font-size: 14px;
  color: rgb(161, 161, 161);
}

select .input-block label {
  font-size: 14px;
  color: rgb(161, 161, 161);
}

form .input-block input {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  color: rgb(165, 165, 165);
  border-radius: 2px;
  border: 1px solid #999999;
  outline-color: rgb(0, 66, 0);
  
}

form .input-block input:invalid{

    border: 1px solid crimson;
    box-shadow: 0px 0px 3px crimson;
 
}

form .input-block input:focus:invalid{
  box-shadow: none;
}

span{
  color: black;
}

span:hover{
  color: white;
}

select .input-block input {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  color: rgb(165, 165, 165);
  border-radius: 2px;
  border: 1px solid #999999;
  outline-color: rgb(0, 66, 0);
}

select {
  width: 100%;
  display: block;
  margin-top: 8px;
  padding: 7px;
  font-size: 16px;
  color: rgb(165, 165, 165);
  border-radius: 2px;
  border: 1px solid #999999;
  outline-color: rgb(0, 66, 0);
}

form .btn-login {
  display: block;
  min-width: 120px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 25px;
  margin: auto;
  padding: 7px;
}

/* APARIÇÃO DO FORM */
form {
  overflow: hidden;
  animation: fade 0.2s;
}

form .input-block:nth-child(1) {
  animation: move 500ms;
}

form .input-block:nth-child(2) {
  animation: move 400ms;
  animation-delay: 100ms;
  animation-fill-mode: backwards;
}

form .input-block:nth-child(3) {
  animation: move 300ms;
  animation-delay: 150ms;
  animation-fill-mode: backwards;

}

form .input-block:nth-child(4) {
  animation: move 200ms;
  animation-delay: 200ms;
  animation-fill-mode: backwards;
}

form .btn-login {
  animation: move 400ms;
  animation-delay: 350ms;
  animation-fill-mode: backwards;
}

@keyframes move {
  from {
    opacity: 0;
    transform: translateX(-35%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Quando clicar no botão, sumir com o form */
.form-hide {
  animation: down 1.2s forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh);
  }
}

/* FORM NO-NO */

form.validate-error {
  animation: nono 200ms linear, fade paused;
  animation-iteration-count: 2;
}

@keyframes nono {
  0%,
  100% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-15%);
  }
  70% {
    transform: translateX(15%);
  }
}

/* squares */
body {
  overflow: hidden;
}
.squares li {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  display: block;
  position: absolute;
  bottom: -40px;
  animation: up 2s infinite alternate;
  z-index:-1
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  to {
    transform: translateY(-800px) rotate(960deg);
  }
}